@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=WDXL+Lubrifont+TC&display=swap');

* {
    padding: 0;
    margin: 0;

    text-decoration: none;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

h1 {
    font-size: 42px;
    font-weight: bold;
    color: #1C8D24;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: #056D0C;
}

img {
    width: 100%;
}

a,
button {
    display: block;
    color: black;
    border: none;

    background: none;
}

dl {
    display: flex;

    gap: 30px;
    align-items: center;
    justify-content: center;
}

#root {
    min-height: 100%;
}

body {
    min-height: 100vh;

    display: grid;
    grid-template-rows: auto auto auto;
}

.container {
    padding: 10px 40px;
}

/* !header, footer */
header,
footer {
    display: flex;

    gap: 10px;

    justify-content: space-between;
    align-items: center;

    background-color: #056D0C;
}

.logo img {
    width: 75px;
}

header dt a,
header dt i,
footer dt a {
    text-shadow: 4px 4px 10px rgba(255, 255, 255, 0.5);
    font-size: 24px;
}

.header__link,
.footer__link {
    color: white;
}

/* !main */
main {
    min-height: 80vh;
}

/* history */

.section-history {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;

    gap: 15px;

    font-weight: 400;
}

.section-history .content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.section-history .content span {
    color: #1C8D24;
}

.section-history .slogan {
    font-size: 24px;
    font-weight: 500;

    color: #056D0C;

    font-weight: 600;
}

.section-contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    justify-content: center;

    gap: 15px;

    font-weight: 400;
}

.section-contacts .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-contacts dl {
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.section-contacts dt {
    display: flex;

    gap: 15px;

    align-items: center;

    margin-left: 3%;

    font-size: 20px;
}

.section-contacts dt svg {
    color: #1e3050;
    font-size: 40px;
}

/* !catalog */
.section-products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    gap: 20px;
}

.product__button_darknest,
.product__button_lightnest {
    color: white;
    font-size: 24px;
    font-weight: normal;

    border-radius: 5px;
    padding: 2px 5px;

    width: 200px;

    text-align: center;
}

.product__button_darknest {
    background-color: #056D0C;
}

.product__button_lightnest {
    background-color: #1C8D24;
}

.section-product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    justify-content: center;

    gap: 15px;

    font-weight: 400;
}

.section-product .content {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

/* !filters and search */
.search-controls {
    display: flex;
    flex-direction: column;

    gap: 15px;
}

.searchText {
    width: 20%;
    border: 1px solid grey;
    color: gray;
    font-weight: bold;

    padding: 10px 20px;
    border-radius: 5px;
}

.category-filters,
.sort-controls {
    display: flex;
    gap: 10px;
}

.category-filter,
.sort-controls button {
    background-color: #1C8D24;
    color: white;

    padding: 10px 20px;

    border-radius: 5px;
}

.sort-controls span {
    display: flex;
    align-items: center;
}

.active {
    background-color: #056D0C;
}

/* !backet */
.basket-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.basket-container .products-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    gap: 15px;
}