.banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    min-height: 80vh;

    align-items: center;
    justify-content: center;
}

.img {
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    gap: 50px;
}

.content a {
    padding: 10px 20px;
    background-color: #056D0C;
    color: white;

    width: max-content;

    font-size: 32px;

    border-radius: 5px;
}